@model Booth.Models.BoothModel

@{
    ViewBag.Title = Model.Name;
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

@section scripts {
<script src="~/signalr/hubs"></script>
<script>
    $(function () {
        booth.init("@Model.Name");
        booth.join();
    });
</script>
}