@{
    ViewBag.Title = "Welcome";
}

<div class="page-header">
    <h1>@ViewBag.Title <small>to Booth&reg;</small></h1>
    <p>Booth blurb here</p>
</div>

<ul>
    <li>
        More blurb
    </li>
    <li>
        <a href="/test">Test Booth</a>
    </li>
    <li>Version Number Here?
    </li>
</ul>
